<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ title | default('GeoPortal-LautBerkah') }}</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="all,follow">
<!-- Bootstrap CSS-->
<link rel="stylesheet" href="{{ 'assets/vendor/bootstrap/css/bootstrap.min.css'|theme }}">
<!-- Font Awesome CSS-->
<link rel="stylesheet" href="{{ 'assets/vendor/font-awesome/css/font-awesome.min.css'|theme }}">
<!-- Google fonts - Roboto-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700">
<!-- Bootstrap Select-->
<link rel="stylesheet" href="{{ 'assets/vendor/bootstrap-select/css/bootstrap-select.min.css'|theme }}">
<!-- owl carousel-->
<link rel="stylesheet" href="{{ 'assets/vendor/owl.carousel/assets/owl.carousel.css'|theme }}">
<link rel="stylesheet" href="{{ 'assets/vendor/owl.carousel/assets/owl.theme.default.css'|theme }}">
<!-- theme stylesheet-->
<link rel="stylesheet" href="{{ 'assets/css/style.default.css'|theme }}" id="theme-stylesheet">
<!-- Custom stylesheet - for your changes-->
<link rel="stylesheet" href="{{ 'assets/css/custom.css'|theme }}">
<!-- Favicon and apple touch icons-->
<link rel="shortcut icon" href="{{ 'assets/img/favicon.ico'|theme }}" type="image/x-icon">
<link rel="apple-touch-icon" href="{{ 'assets/img/apple-touch-icon.png'|theme }}">
<link rel="apple-touch-icon" sizes="57x57" href="{{ 'assets/img/apple-touch-icon-57x57.png'|theme }}">
<link rel="apple-touch-icon" sizes="72x72" href="{{ 'assets/img/apple-touch-icon-72x72.png'|theme }}">
<link rel="apple-touch-icon" sizes="76x76" href="{{ 'assets/img/apple-touch-icon-76x76.png'|theme }}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ 'assets/img/apple-touch-icon-114x114.png'|theme }}">
<link rel="apple-touch-icon" sizes="120x120" href="{{ 'assets/img/apple-touch-icon-120x120.png'|theme }}">
<link rel="apple-touch-icon" sizes="144x144" href="{{ 'assets/img/apple-touch-icon-144x144.png'|theme }}">
<link rel="apple-touch-icon" sizes="152x152" href="{{ 'assets/img/apple-touch-icon-152x152.png'|theme }}">
<!-- Tweaks for older IEs--><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
