<!-- Javascript files-->
<script src="{{ 'assets/vendor/jquery/jquery.min.js'|theme }}"></script>
<script src="{{ 'assets/vendor/popper.js/umd/popper.min.js'|theme }}"></script>
<script src="{{ 'assets/vendor/bootstrap/js/bootstrap.min.js'|theme }}"></script>
<script src="{{ 'assets/vendor/jquery.cookie/jquery.cookie.js'|theme }}"></script>
<script src="{{ 'assets/vendor/waypoints/lib/jquery.waypoints.min.js'|theme }}"></script>
<script src="{{ 'assets/vendor/jquery.counterup/jquery.counterup.min.js'|theme }}"></script>
<script src="{{ 'assets/vendor/owl.carousel/owl.carousel.min.js'|theme }}"></script>
<script src="{{ 'assets/vendor/owl.carousel2.thumbs/owl.carousel2.thumbs.min.js'|theme }}"></script>
<script src="{{ 'assets/js/jquery.parallax-1.1.3.js'|theme }}"></script>
<script src="{{ 'assets/vendor/bootstrap-select/js/bootstrap-select.min.js'|theme }}"></script>
<script src="{{ 'assets/vendor/jquery.scrollto/jquery.scrollTo.min.js'|theme }}"></script>
<script src="{{ 'assets/js/front.js'|theme }}"></script>