[tulisanList beritaTerbaru]
paramHalaman = "{{ :page }}"
jumlahItemPerHalaman = 3
filterKategori = "berita"
halamanDetail = "berita/baca"
==
<div class="row">
    {% for post in posts %}
    {% set headerDef = 'assets/img/blog-medium.jpg'|theme %}
    {% set header = post.gambar_header.path | default(headerDef) %}
    <div class="col-md">
        <div class="card">
            <img src="{{ header|resize(900, 675, {mode:'crop'}) }}" class="card-img-top img-fluid">
            <div class="card-body">
                <h2 class="card-title"><a href="{{ post.url }}">{{ post.judul }}</a></h2>
                <ul class="list-inline">
                    <li class="list-inline-item"><i class="fa fa-user"></i> {{ post.user.login }}</li>
                    <li class="list-inline-item"><i class="fa fa-calendar-o"></i> {{ post.tgl_tampil | date('d-m-Y') }}</li>
                </ul>
                <p class="card-text">{{ post.ringkasan_paksa }}</p>
            </div>
        </div>
    </div>
    {% else %}
    <p class="text-center text-danger">Maaf, belum ada berita untuk saat ini.</p>
    {% endfor %}
</div>