{# pastikan pada bagian page layout melakukan init terhadap plugin breadcrumb #}
<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row d-flex align-items-center flex-wrap">
            <div class="col-md-6">
                <h1>{{ this.page.meta_title | default(this.page.title) }}</h1>
            </div>
            <div class="col-md-6">
                {% set crumbOptions = breadcrumbs.options %}
                {% if currentCrumb.show_crumb %}
                <ul class="breadcrumb d-flex justify-content-end {{crumbOptions['main-ol-class']}}">
                    {% set activeCrumb = '' %}
                    {% for crumb in breadcrumbs %}
                    {% if crumb.in_crumb_trail %}
                    <li class="breadcrumb-item {{crumbOptions['main-li-class']}} {% if crumb.crumb_disabled %} {{crumbOptions['disabled-class']}} {% endif %} {% if loop.last %} {{crumbOptions['active-class']}} {% endif %}"
                        {% if loop.last %} id="bcLast" {% endif %}>
                        {% if not loop.last and not crumb.crumb_disabled %} <a href="{{crumb.baseFileName | page}}"> {%
                            endif %} {{crumb.title}} {% if not loop.last and not crumb.is_disabled %}</a>{% endif %}
                    </li>
                    {% endif %}

                    {% if loop.last %}
                    {% set activeCrumb = crumb %}
                    {% endif %}

                    {% endfor %}
                </ul>
                {% endif %}

                {# javascript to enable dynamic breadcrumbs. Helpful for ':slug' type routes #}
                {% if activeCrumb.elementTitle %}
                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        var bcTitle = document.getElementById('{{activeCrumb.elementTitle}}');
                        var bcActive = document.getElementById('bcLast');

                        if (bcTitle) {
                            bcActive.innerHTML = bcTitle.innerHTML;
                        }
                    });
                </script>
                {% endif %}
            </div>
        </div>
    </div>
</div>