<footer class="main-footer">
    {#
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <h4 class="h6">About Us</h4>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                <hr>
                <h4 class="h6">Join Our Monthly Newsletter</h4>
                <form>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-secondary"><i class="fa fa-send"></i></button>
                        </div>
                    </div>
                </form>
                <hr class="d-block d-lg-none">
            </div>
            <div class="col-lg-3">
                <h4 class="h6">Blog</h4>
                <ul class="list-unstyled footer-blog-list">
                    <li class="d-flex align-items-center">
                        <div class="image"><img src="img/detailsquare.jpg" alt="..." class="img-fluid"></div>
                        <div class="text">
                            <h5 class="mb-0"> <a href="post.html">Blog post name</a></h5>
                        </div>
                    </li>
                    <li class="d-flex align-items-center">
                        <div class="image"><img src="img/detailsquare.jpg" alt="..." class="img-fluid"></div>
                        <div class="text">
                            <h5 class="mb-0"> <a href="post.html">Blog post name</a></h5>
                        </div>
                    </li>
                    <li class="d-flex align-items-center">
                        <div class="image"><img src="img/detailsquare.jpg" alt="..." class="img-fluid"></div>
                        <div class="text">
                            <h5 class="mb-0"> <a href="post.html">Very very long blog post name</a></h5>
                        </div>
                    </li>
                </ul>
                <hr class="d-block d-lg-none">
            </div>
            <div class="col-lg-3">
                <h4 class="h6">Contact</h4>
                <p class="text-uppercase"><strong>Universal Ltd.</strong><br>13/25 New Avenue <br>Newtown upon River
                    <br>45Y 73J <br>England <br><strong>Great Britain</strong></p><a href="contact.html" class="btn btn-template-main">Go
                    to contact page</a>
                <hr class="d-block d-lg-none">
            </div>
            <div class="col-lg-3">
                <ul class="list-inline photo-stream">
                    <li class="list-inline-item"><a href="#"><img src="img/detailsquare.jpg" alt="..." class="img-fluid"></a></li>
                    <li class="list-inline-item"><a href="#"><img src="img/detailsquare2.jpg" alt="..." class="img-fluid"></a></li>
                    <li class="list-inline-item"><a href="#"><img src="img/detailsquare3.jpg" alt="..." class="img-fluid"></a></li>
                    <li class="list-inline-item"><a href="#"><img src="img/detailsquare3.jpg" alt="..." class="img-fluid"></a></li>
                    <li class="list-inline-item"><a href="#"><img src="img/detailsquare2.jpg" alt="..." class="img-fluid"></a></li>
                    <li class="list-inline-item"><a href="#"><img src="img/detailsquare.jpg" alt="..." class="img-fluid"></a></li>
                </ul>
            </div>
        </div>
    </div>
    #}
    <div class="copyrights">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 text-center-md">
                    <p>&copy; 2019. Dinas Kelautan dan Perikanan Provinsi Kalimantan Tengah</p>
                </div>
                <div class="col-lg-7 text-right text-center-md">
                    <p>Template design by <a href="https://bootstrapious.com/p/big-bootstrap-tutorial">Bootstrapious
                        </a>& <a href="https://fity.cz/ostrava">Fity</a></p>
                    <!-- Please do not remove the backlink to us unless you purchase the Attribution-free License at https://bootstrapious.com/donate. Thank you. -->
                </div>
            </div>
        </div>
    </div>
</footer>