==
<header class="nav-holder">
  <div id="navbar" role="navigation" class="navbar navbar-expand-lg">
    <div class="container">
      <a href="/" class="navbar-brand home"><img src="img/logo.png" alt="DKP Kalteng" class="d-none d-md-inline-block">
        <img src="img/logo-small.png" alt="DKP Kalteng" class="d-inline-block d-md-none"><span class="sr-only">DKPKalteng
          - go to homepage</span></a>
      <button type="button" data-toggle="collapse" data-target="#navigation" class="navbar-toggler btn-template-outlined"><span
          class="sr-only">Toggle navigation</span><i class="fa fa-align-justify"></i></button>
      <div id="navigation" class="navbar-collapse collapse">
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item {% if this.page.id == 'home' %}active{% endif %}"><a href="{{ 'home'|page }}">Beranda</a></li>
          <li class="nav-item {% if this.page.id == 'halaman' %}active{% endif %}"><a href="{{ 'halaman'|page({slug:'profile'}) }}">Profile</a></li>
          <li class="nav-item {% if this.page.id == 'peta' %}active{% endif %}"><a href="{{ 'peta'|page }}">Peta</a></li>
          <li class="nav-item {% if this.page.id == 'check-status' %}active{% endif %}"><a href="{{ 'check-status'|page }}">Pengajuan</a></li>
          <li class="nav-item {% if this.page.id == 'berita' %}active{% endif %}"><a href="{{ 'berita'|page }}">Berita</a></li>
          <li class="nav-item {% if this.page.id == 'peraturan' %}active{% endif %}"><a href="{{ 'peraturan'|page }}">Peraturan</a></li>
          <li class="nav-item {% if this.page.id == 'tanya-jawab' %}active{% endif %}"><a href="{{ 'tanya-jawab'|page }}">TanyaJawab</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>