title = "Baca Peraturan"
url = "/peraturan/baca/:slug"
layout = "single"
is_hidden = 0
child_of = "peraturan"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0

[tulisanDetail]
slug = "{{ :slug }}"
id = "{{ :id }}"

[kategori]
slug = "{{ :slug }}"
tampilkanYangKosong = 1
filterKategori = "peraturan|peraturan-presiden|peraturan-kementerian|peraturan-provinsi"
halamanKategori = "peraturan/k"
==
<div class="container">
    <div class="row">
        <div class="col-md-8">
                <h2 class="mb-3 heading">{{ post.judul }}</h2>
                <ul class="list-inline">
                    <li class="list-inline-item"><i class="fa fa-user"></i> {{ post.user.login }}</li>
                    <li class="list-inline-item"><i class="fa fa-calendar-o"></i> {{ post.tgl_tampil | date('d-m-Y') }}</li>
                </ul>
                <blockquote class="blockquote">{{ post.ringkasan_paksa }}</blockquote>
                {% if post.gambar_header %}
                <p>
                    {% set header = post.gambar_header.path %}
                    <img src="{{ header | resize(false, 487) }}" alt="" class="img-fluid">
                </p>
                {% endif %}
                {{ post.isi | raw }}
                {# gambar yang lainnya #}
                {% if post.gambar_lainnya.count %}
                    <hr/>
                <h3>Gambar berkaitan:</h3>
                    {% for img in post.gambar_lainnya %}
                    <p><img src="{{img.path}}" alt="{{ img.description }}" class="img-fluid"></p>
                    {% endfor %}
                {% endif %}
        </div>
        <div class="col-md-4">
                <div class="card">
                    <h5 class="card-header">Kategori</h5>
                    <ul class='list-group'>
                        {% for kat in kategori %}
                        <li class="list-group-item"><a href="{{ kat.url }}">{{ kat.nama }} <span>({{ kat.jumlah_tulisan }})</span></a></li>
                        {% endfor %}
                    </ul>     
                </div>
        </div>
    </div>
</div>