title = "Kategori Peraturan"
url = "/peraturan/k/:slug/:page?"
layout = "single"
meta_title = "Kategori Peraturan"
is_hidden = 0
child_of = "home"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0

[tulisanList daftarPeraturan]
paramHalaman = "{{ :page }}"
jumlahItemPerHalaman = 10
filterKategori = "{{ :slug }}"
halamanDetail = "peraturan/baca"

[kategori]
slug = "{{ :slug }}"
tampilkanYangKosong = 1
filterKategori = "peraturan|peraturan-presiden|peraturan-kementerian|peraturan-provinsi"
halamanKategori = "peraturan/k"
==
<div class="container">
    <div class="row">
        <div class="col-md-8" id="blog-listing-medium">
            {% for post in posts %}
            {% set headerDef = 'assets/img/peraturan.jpg'|theme %}
            {% set header = post.gambar_header.path | default(headerDef) %}
            <section class="post">
                <div class="row">
                    <div class="col-md-4">
                        <a href="{{ post.url }}">
                            <img src="{{ header }}" class="img-fluid">
                        </a>
                    </div>
                    <div class="col-md-8 ftco-animate">
                        <h3><a href="{{ post.url }}">{{ post.judul }}</a></h3>
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-user"></i> {{ post.user.login }}</li>
                            <li class="list-inline-item"><i class="fa fa-calendar-o"></i> {{ post.tgl_tampil | date('d-m-Y') }}</li>
                        </ul>
                        <p>{{ post.ringkasan_paksa }}</p>
                    </div>
                </div>
            </section>
            {% else %}
            <p class="text-center text-danger">Maaf, belum ada data untuk saat ini.</p>
            {% endfor %}
        </div>
        <div class="col-md-4">
            <div class="card">
                <h5 class="card-header">Kategori</h5>
                <ul class='list-group'>
                    {% for kat in kategori %}
                    <li class="list-group-item"><a href="{{ kat.url }}">{{ kat.nama }} <span>({{ kat.jumlah_tulisan }})</span></a></li>
                    {% endfor %}
                </ul>     
            </div>
        </div>
    </div>
</div>