title = "Peta Alur Laut"
url = "/lihat-peta/alur-laut-old"
layout = "single"
is_hidden = 0
child_of = "peta"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0

[peta]
id = "alur-laut"
==
<style type="text/css">
    div#map { height: 500px; }
</style>
<div class="container">
    <div class="card">
        <div id="map" class="card-img-top"></div>
        <div class="card-body">
            <h5 class="card-title">{{ post.judul }}</h5>
            {{ post.keterangan | raw }}
        </div>
    </div>
</div>
{% put scripts %}
<script type="text/javascript">
    function polyStyle(feature) {
        return {
            fillColor: '#BD0026',
            weight: 2,
            opacity: 1,
            color: 'white',
            dashArray: '3',
            fillOpacity: 0.7
        };
    }
    function highlightFeature(e) {
        var layer = e.target;
        layer.setStyle({
            fillColor: 'blue',
            weight: 2,
            opacity: 1,
            color: 'white',  //Outline color
            fillOpacity: 0.7
        });
        if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
            layer.bringToFront();
        }
    }
    function resetHighlight(e) {
        gjTataRuang.resetStyle(e.target);
    }
    function zoomToFeature(e) {
        baseMap.fitBounds(e.target.getBounds());
    }
    function onEachFeature(feature, layer) {
        // does this feature have a property named popupContent?
        if (feature.properties) {
            var pk = '';
            for(var prop in feature.properties) {
                pk += "<strong>" + prop + "</strong>:" + feature.properties[prop] + "<br>";
            }
            layer.bindPopup(pk);
        }
        layer.on({
            mouseover: highlightFeature,
            mouseout: resetHighlight,
            //click: zoomToFeature
        })
        // tambahkan ke layerGroup
        layerGroup.addLayer(layer);
    }
    // base map!
    var baseMap = L.map('map').setView([{{post.lat}},{{post.lng}}], {{post.zoom}});
    // create the tile layer with correct attribution
    // osm = open street map sebagai base map
    var osmUrl='https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
    var osmAttrib='Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors';
    var gjTataRuang;
    // layer yang kosong untuk saat ini!
    var layerGroup = L.layerGroup().addTo(baseMap);
    // open street map
    var osm = new L.TileLayer(osmUrl, {
        minZoom: 0, 
        maxZoom: 12, 
        attribution: osmAttrib
    }).addTo(baseMap);
    // dapatkan geojson
    {% for file in post.geojson %}
    // get using axios
    axios.get('{{file.path}}', {headers: {'Content-Type':'application/json'}})
        .then(function(d) {
            L.geoJson(d.data, {onEachFeature: onEachFeature});
        }.bind(L));
    {% endfor %}
    // control box
    var osmLayerControl = {"OSM":osm};
    var geojsonLayerControl = {"Items":layerGroup};
    L.control.layers(osmLayerControl, geojsonLayerControl).addTo(baseMap);
</script>
{% endput %}