title = "Peta Tata Ruang RZWP-3-K Provinsi Kalimantan Tengah dan Alur Laut"
url = "/lihat-peta/tata-ruang-alur-laut"
layout = "single-peta"
is_hidden = 0
child_of = "peta"
hide_crumb = 0
remove_crumb_trail = 1
crumb_disabled = 0
==
<div class="container" <div class="card">
    <div id="map" class="card-img-top"></div>
    <div class="card-title">Peta Tata Ruang RZWP-3-K Provinsi Kalimantan Tengah dan Alur Laut</div>
</div>
</div>
{% put styles %}
<style type="text/css">
    div#map {
        height: 500px;
    }
</style>
{% endput %}
{% put scripts %}
<script type="text/javascript">
    var gBaseMap;
    var gMainLayerGroup;
    var gControlLayers;
    var gOnSelectedLayer;
    var gGeojson = {};
    function loadOurMap() {
        // base map kita
        gBaseMap = new L.map('map').setView([-3.494, 113.036], 8);
        gControlLayers = L.control.layers().addTo(gBaseMap);
        //gMainLayerGroup = L.layerGroup().addTo(gBaseMap);
        // openstreetmap
        var osm = new L.TileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: 'Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors'
        }).addTo(gBaseMap);
        gControlLayers.addBaseLayer(osm, 'Open Street Map');
        getOurGeojson("{{ 'assets/m/tata-ruang.json'|theme }}", 'tata-ruang');
        getOurGeojson("{{ 'assets/m/alur-laut.json'|theme }}", 'alur-laut');
        // L.control.layers({'Base Tile':osm}, {'Alur Laut':gMainLayerGroup}).addTo(gBaseMap);
    }

    function getOurGeojson(url, name) {
        axios.get(url, { headers: { 'Content-Type': 'application/json' } })
            .then(function (d) {
                gGeojson[name] = L.geoJson(d.data, {
                    style: setStyle, onEachFeature: function (feature, layer) {
                        if (feature.properties) {
                            var pk = '';
                            for (var prop in feature.properties) {
                                pk += "<strong>" + prop + "</strong>:" + feature.properties[prop] + "<br>";
                            }
                            layer.bindPopup(pk);
                        }
                        layer._ref_name = name; // custom utk mengakses geojsonobj
                        layer.on({
                            mouseover: onMouseOverStyle,
                            mouseout: onMouseOutStyle
                        });
                    }
                }).addTo(gBaseMap);
                gControlLayers.addOverlay(gGeojson[name], name);
            });
    }


    function setStyle(feature) {
        if (feature.geometry.type == 'LineString') {
            return {
                color: getColor(feature),
                dashArray: getDash(feature),
                weight: 4
            }
        } else if (feature.geometry.type == 'MultiPolygon') {
            return {
                fillColor: getColor(feature),
                color: getDashColorPoly(feature),
                dashArray: getDash(feature),
                fillOpacity: 0.5,
                weight: 3
            }
        }
    }

    function onMouseOverStyle(e) {
        gOnSelectedLayer = e.target.setStyle({
            color: 'blue',
            fillColor: 'red',
            fillOpacity: 0.1,
            dashArray: 0,
        });
    }

    function onMouseOutStyle(e) {
        gGeojson[e.target._ref_name].resetStyle(e.target);
    }

    function getDash(feature) {
        if (feature.geometry.type == 'LineString') {
            if (feature.properties.KODE_SZ.indexOf('AL-APK-GM') == 0) {
                return 10;
            } else if (feature.properties.KODE_SZ.indexOf('AL-AMB-MM') == 0) {
                return '3,10';
            } else if (feature.properties.KODE_SZ.indexOf('AL-AMB-MP') == 0) {
                return '3,10';
            }
        } else if (feature.geometry.type == 'MultiPolygon') {
            if (feature.properties.KODE_SZ.indexOf('AL-APK-GM') == 0) {
                return "3,10";
            }
        }
        return 0;
    }

    function getDashColorPoly(feature) {
        if (feature.geometry.type == 'MultiPolygon') {
            if (feature.properties.KODE_SZ.indexOf('AL-APK-GM') == 0) {
                return "rgb(197,0,255)";
            } else if (feature.properties.KODE_SZ.indexOf('KPU-W-BD') == 0) {
                return "rgb(255, 255, 0)";
            }
        }
        return "rgb(0,0,0)"
    }

    function getColor(feature) {
        if (feature.geometry.type == 'LineString') {
            if (feature.properties.KODE_SZ.indexOf('AL-APK-KT') == 0) {
                return "rgb(255, 0, 102)";
            } else if (feature.properties.KODE_SZ.indexOf('AL-AP-PR') == 0) {
                return "rgb(152, 230, 0)";
            } else if (feature.properties.KODE_SZ.indexOf('AL-APK-GM') == 0) {
                return "rgb(255, 0, 102)";
            } else if (feature.properties.KODE_SZ.indexOf('AL-AP-PN') == 0) {
                return "rgb(204, 153, 255)";
            } else if (feature.properties.KODE_SZ.indexOf('AL-AMB-MM') == 0) {
                return "rgb(46, 117, 182)";
            } else if (feature.properties.KODE_SZ.indexOf('AL-AMB-MP') == 0) {
                return "rgb(51, 153, 51)";
            }
        } else if (feature.geometry.type == 'MultiPolygon') {

            if (feature.properties.KODE_SZ.indexOf('KPU-TB') == 0) {
                return "rgb(242, 242, 242)";
            } else if (feature.properties.KODE_SZ.indexOf('KPU-PT-PD') == 0) {
                return "rgb(255, 211, 127)";
            } else if (feature.properties.KODE_SZ.indexOf('KPU-PL-DLK') == 0) {
                return "rgb(146, 205, 220)";
            } else if (feature.properties.KODE_SZ.indexOf('KPU-W-P3K') == 0) {
                return "rgb(255, 220, 255)";
            } else if (feature.properties.KODE_SZ.indexOf('AL-APK-GM') == 0) {
                return "rgb(255, 0, 102)";
            } else if (feature.properties.KODE_SZ.indexOf('KKP') == 0) {
                return "rgb(85, 255, 0)";
            } else if (feature.properties.KODE_SZ.indexOf('KPU-W-BD') == 0) {
                return "rgb(255, 220, 255)";
            } else if (feature.properties.KODE_SZ.indexOf('KPU-PB-BL') == 0) {
                return "rgb(0, 197, 255)";
            }
        }
        return 'blue';
    }

    window.addEventListener('DOMContentLoaded', function () {
        loadOurMap();
    })
</script>
{% endput %}