[breadcrumbs]
main-ol-class = "breadcrumb"
active-class = "active"
disabled-class = "disabled"
==
<!DOCTYPE html>
<html>
  <head>
      {% partial '_at_head' %}
      <link rel="stylesheet" href="{{ 'assets/vendor/ol3/ol.css'|theme }}">
      {% styles %}
  </head>
  <body>
    <div id="all">
      <!-- Top bar-->
      {% partial '_top_bar' %}
      <!-- Top bar end-->
      <!-- Login Modal-->
      {% partial '_login_modal' %}
      <!-- Login modal end-->
      <!-- Navbar Start-->
      {% partial '_navbar' %}

      {% partial '_breadcrumb' %}
      <!-- Navbar End-->
      <div id="content">
        <div class="container">
          <div class="row bar">
            <div class="col-md-12">
              <section>
                {% page %}
              </section>
            </div>
          </div>
        </div>
      </div>
      <!-- FOOTER -->
      {% partial '_footer' %}
    </div>
      {% partial '_at_foot' %}
      <script src="{{ 'assets/vendor/ol3/ol.js'|theme }}"></script>
      <script src="{{ 'assets/m/rtrwzstyle.js'|theme }}"></script>
      <script src="{{ 'assets/m/utilolku.js'|theme }}"></script>
      {% framework extra %}
      {% scripts %}
  </body>
</html>