title = "Berita"
url = "/berita/:page?"
layout = "single"
meta_title = "Berita Terbaru"
is_hidden = 0
child_of = "home"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0

[tulisanList daftarBerita]
paramHalaman = "{{ :page }}"
jumlahItemPerHalaman = 10
filterKategori = "berita"
halamanDetail = "berita/baca"
==
<div class="container">
    <div class="row">
        <div class="col-md-12" id="blog-listing-medium">
            {% for post in posts %}
            {% set headerDef = 'assets/img/blog-medium.jpg'|theme %}
            {% set header = post.gambar_header.path | default(headerDef) %}
            <section class="post">
                <div class="row">
                    <div class="col-md-4">
                        <a href="{{ post.url }}">
                            <img src="{{ header }}" class="img-fluid">
                        </a>
                    </div>
                    <div class="col-md-8 ftco-animate">
                        <h2><a href="{{ post.url }}">{{ post.judul }}</a></h2>
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-user"></i> {{ post.user.login }}</li>
                            <li class="list-inline-item"><i class="fa fa-calendar-o"></i> {{ post.tgl_tampil | date('d-m-Y') }}</li>
                        </ul>
                        <p>{{ post.ringkasan_paksa }}</p>
                    </div>
                </div>
            </section>
            {% else %}
            <p class="text-center text-danger">Maaf, belum ada data untuk saat ini.</p>
            {% endfor %}
        </div>
    </div>
</div>