title = "Home"
url = "/"
layout = "default"
is_hidden = 0
child_of = "mey_no_parent"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0
==
<section style="background: url('{{'/assets/img/photogrid.jpg'|theme}}') center center repeat; background-size: cover;" 
    class="bar background-white relative-positioned">
    <div class="container">
        {% partial '_headline_carousel' %}
    </div>
</section>

<section class="bar background-pentagon no-mb">
    <div class="container">
        {% partial '_berita_terbaru' %}
    </div>
</section>
{#
<section class="bar background-white no-mb">
    <div class="heading text-center">
        <h2>Peraturan Terbaru</h2>
    </div>
    <div class="container">
        {% partial '_peraturan_terbaru' %}
    </div>
</section>
#}