title = "Peraturan"
url = "/perizinan/:page?"
layout = "single"
meta_title = "Proses Perizinan"
is_hidden = 0
child_of = "home"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0

==
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-condensed">
                <thead class="thead-dark">
                    <tr>
                        <th>Pengaju</th>
                        <th>Aktivitas</th>
                        <th>Posisi</th>
                        <th>Waktu Mulai</th>
                        <th>Estimasi Selesai</th>
                        <th>Berikutnya</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <tr class="table-warning">
                        <td>PT. Rezeki</td>
                        <td>Penerimaan Permintaan Izin</td>
                        <td>PTSP</td>
                        <td>10-10-2019</td>
                        <td>11-10-2019</td>
                        <td>Penghantaran Permohonan Ke DKP</td>
                    </tr> -->
                    <tr class="table-warning">
                        <td>PT. Batuah</td>
                        <td>Diterima Dari Perizinan</td>
                        <td>DKP</td>
                        <td>10-10-2019</td>
                        <td>11-10-2019</td>
                        <td>Dimasukkan ke Kepala DKP</td>
                    </tr>
                    <tr class="table-warning">
                        <td>PT. Barazaki Tatuu</td>
                        <td>Penunjukan Tim Verifikasi</td>
                        <td>Kepala DKP</td>
                        <td>10-10-2019</td>
                        <td>11-10-2019</td>
                        <td>Verifikasi</td>
                    </tr>
                    <tr class="table-warning">
                        <td>PT. Liang Mengang</td>
                        <td>Proses verifikasi</td>
                        <td>Tim Verifikasi</td>
                        <td>10-10-2019</td>
                        <td>15-10-2019</td>
                        <td>Penyusunan Rekomendasi Teknis</td>
                    </tr>
                    <tr class="table-warning">
                        <td>PT. Mahiang Atei Manuwu</td>
                        <td>Rekomendasi Teknis</td>
                        <td>Tim Verifikasi</td>
                        <td>15-10-2019</td>
                        <td>15-10-2019</td>
                        <td>Hasil Ke PTSP</td>
                    </tr>
                    <tr class="table-success">
                        <td>PT. Dara za</td>
                        <td>Rekomendasi Teknis Diterima</td>
                        <td>PTSP</td>
                        <td>16-10-2019</td>
                        <td>16-10-2019</td>
                        <td>PTSP</td>
                    </tr>
                    <tr class="table-danger">
                        <td>PT. Tertolak</td>
                        <td>Rekomendasi Teknis Ditolak</td>
                        <td>PTSP</td>
                        <td>16-10-2019</td>
                        <td>16-10-2019</td>
                        <td>PTSP</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>