title = "Daftar Peta"
url = "/peta/"
layout = "single"
meta_title = "Daftar Peta"
is_hidden = 0
child_of = "home"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0
==
<div class="list-group">
    <a href="{{ 'ol-peta/tata-ruang'|page }}" class="list-group-item list-group-item-action">
        Peta Tata Ruang RZWP-3-K Provinsi Kalimantan Tengah
    </a>
    <a href="{{ 'ol-peta/alur-laut'|page }}" class="list-group-item list-group-item-action">
        Peta Tata Ruang RZWP-3-K Alur Laut
    </a>
    <a href="{{ 'ol-peta/tata-ruang-alur-laut'|page }}" class="list-group-item list-group-item-action">
        Peta Tata Ruang RZWP-3-K Provinsi Kalimantan Tengah dan Alur Laut
    </a>
</div>