title = "Tanya Jawab"
url = "/tanya-jawab"
layout = "single"
is_hidden = 0
child_of = "home"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0

[FaqAsk]

[FaqAll]
limit = 25
sortOrder = "desc"
==
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <h5 class="card-header">Form Pertanyaan</h5>
            <div class="card-body card-info">
                <p class="mute">Hanya pertanyaan yang memenuhi syarat saja yang ditampilkan dan dijawab.</p>
                {{ form_open({ request: 'onPost' }) }}
                {% flash %}
                <div role="alert" class="alert alert-{{ type }}">{{ message }}</div>
                {% endflash %}
                <textarea class="form-control" name="question" rows="3" placeholder="Pertanyaan anda"></textarea>
                <input class="form-control" type="text" placeholder="Email" name="email">
                <button class="btn btn-info btn-sm">Kirim</button>
                {{ form_close() }}
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card bg-success">
            <div class="card-header">Daftar Pertanyaan Telah Dijawab</div>
            {% set faqs = FaqAll.faqs %}
            <ul class="list-group">
                {% for faq in faqs %}
                <li class="list-group-item">
                    <div class="d-flex w-100 justify-content-between" id="question_{{ faq.id }} class="d-flex w-100 justify-content-between"">
                        <h5>Q: {{ faq.question }}</h5>
                        <small>{{ faq.created_at|date("d-m-Y")}}</small>
                    </div>
                    <p>{{ faq.answer|md }} </p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>