title = "Peta Tata Ruang RZWP-3-K Alur Laut"
url = "/ol-peta/alur-laut"
layout = "single-peta-ol"
is_hidden = 0
child_of = "peta"
hide_crumb = 0
remove_crumb_trail = 1
crumb_disabled = 0
==
{% put styles %}
<style type="text/css">
map {
    height: 100%;
    background-color: #b5d0d0;
}
</style>
{% endput %}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <h5 class="card-header">Peta Tata Ruang RZWP-3-K Alur Laut</h5>
                <div id="map" class="card-img-top"></div>
                <div class="card-body">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <h5 class="card-header">Properties</h5>
                <div class="card-body">
                    <p id="map-prop">Pilih komponen di samping</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% put scripts %}
<script type="text/javascript">
    // vector source
    var vectorSource = new ol.source.Vector({
        projection: 'EPSG:4326',
        url: '/themes/kadkp/assets/m/alur-laut.json',   
        format: new ol.format.GeoJSON()
    })
    // vector layer
    var vectorLayer = new ol.layer.Vector({
        source: vectorSource,
        style: styleGeojsonKita
    })

    var osmTilelayer = new ol.layer.Tile({
        source: new ol.source.OSM()
    })

    var kalteng = ol.proj.transform([112.877139, -2.892569], 'EPSG:4326', 'EPSG:3857')
    var view = new ol.View({
        center: kalteng,
        zoom: 6
    })
    var map = new ol.Map({
        target: 'map'
    })

    map.addLayer(osmTilelayer)
    map.addLayer(vectorLayer)
    map.setView(view)

    // untuk mouse hover
    var featureHovered = null
    map.on('pointermove', function(browserEvent) {
        if(featureHovered !== null) {
            featureHovered.setStyle(undefined)
            featureHovered = null
        }
        // for each feature at pixe
        map.forEachFeatureAtPixel(browserEvent.pixel, function(f) {
            featureHovered = f
            f.setStyle(highlightStyle)
            return true
        }) 
        
        if(featureHovered) {
            let p = UtilFormatTampilan.formatProperties(featureHovered.getProperties())
            document.getElementById("map-prop").innerHTML = p
            browserEvent.map.getTargetElement().style.cursor = 'pointer'
        } else {
            document.getElementById("map-prop").innerHTML = "Pilih komponen di samping"
            browserEvent.map.getTargetElement().style.cursor = ''
        }
    })
</script>
{% endput %}