title = "Peta Tata Ruang RZWP-3-K dan Alur Laut"
url = "/ol-peta/tata-ruang-alur-laut"
layout = "single-peta-ol"
is_hidden = 0
child_of = "peta"
hide_crumb = 0
remove_crumb_trail = 1
crumb_disabled = 0
==
{% put styles %}
<style type="text/css">
map {
    height: 100%;
    background-color: #b5d0d0;
}
</style>
{% endput %}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <h5 class="card-header">Peta Tata Ruang RZWP-3-K Alur Laut</h5>
                <div id="map" class="card-img-top"></div>
                <div class="card-body">
                    <p id="map-prop-hover">Gerakkan kursor pada bagian peta di atas</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-primary">
                <h5 class="card-header">Overlay</h5>
                <div class="card-body">
                    <form>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="checkbox" class="form-check-input overlay-map-ctrl" name="ltataruang" id="ltataruang" value="checkedValue" checked>
                            Tata Ruang
                          </label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="checkbox" class="form-check-input overlay-map-ctrl" name="lalurlaut" id="lalurlaut" value="checkedValue" checked>
                            Alur Laut
                          </label>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card">
                <h5 class="card-header">Peta Terpilih</h5>
                <div class="card-body">
                    <p id="map-prop-sel">Pilih peta di samping</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% put scripts %}
<script type="text/javascript">
    var overlayGroup = new ol.layer.Group({
        title : 'Pilihan Peta',
        layers: []
    })

    var osmTilelayer = new ol.layer.Tile({
        source: new ol.source.OSM()
    })

    var kalteng = ol.proj.transform([112.877139, -2.892569], 'EPSG:4326', 'EPSG:3857')
    var view = new ol.View({
        center: kalteng,
        zoom: 6
    })
    var map = new ol.Map({
        target: 'map'
    })

    map.addLayer(osmTilelayer)
    map.addLayer(overlayGroup)
    map.setView(view)

    // tambahkan layer tata ruang
    overlayGroup.getLayers().push(
        new ol.layer.Vector({
            title: 'Tata Ruang',
            idnya: 'ltataruang',
            source: new ol.source.Vector({
                projection: 'EPSG:4326',
                url: '/themes/kadkp/assets/m/tata-ruang.json',   
                format: new ol.format.GeoJSON()
            }),
            style: styleGeojsonKita
        })
    )
    // tambahkan layer jalur laut
    overlayGroup.getLayers().push(
        new ol.layer.Vector({
            title: 'Alur Laut',
            idnya: 'lalurlaut',
            source: new ol.source.Vector({
                projection: 'EPSG:4326',
                url: '/themes/kadkp/assets/m/alur-laut.json',
                format: new ol.format.GeoJSON()
            }),
            style: styleGeojsonKita
        })
    )

    function showHideLayer(target, value) {
        overlayGroup.getLayers().forEach(function(elem) {
            if(elem.get('idnya') == target) {
                elem.setVisible(value)
            }
        })
    }

    // add event listener
    document.getElementById('lalurlaut').addEventListener('change', function(e) {
        showHideLayer(e.target.id, e.target.checked)
    })
    document.getElementById('ltataruang').addEventListener('change', function(e) {
        showHideLayer(e.target.id, e.target.checked)
    })

    var featureHovered = null
    // memilih feature dengan cara single click
    var featureSelected = null
    map.on('pointermove', function(browserEvent) {
        
        if(featureHovered !== null) {
            featureHovered.setStyle(undefined)
            featureHovered = null
        }
        // for each feature at pixe
        map.forEachFeatureAtPixel(browserEvent.pixel, function(f) {
            featureHovered = f
            f.setStyle(highlightStyle)
            return true
        }) 
        
        if(featureHovered) {
            let p = UtilFormatTampilan.keteranganLengkap(featureHovered.getProperties())
            document.getElementById("map-prop-hover").innerHTML = p
            browserEvent.map.getTargetElement().style.cursor = 'pointer'
        } else {
            document.getElementById("map-prop-hover").innerHTML = "Gerakkan kursor pada bagian peta di atas"
            browserEvent.map.getTargetElement().style.cursor = ''
        }
    })
    // TODO: jangan di reset hasil pilihannya
    map.on('singleclick', function(browserEvent) {
        if(featureSelected !== null) {
            featureSelected.setStyle(undefined)
            featureSelected = null
        }
        map.forEachFeatureAtPixel(browserEvent.pixel, function(f) {
            featureSelected = f
            f.setStyle(selectedStyle)
            return true
        })
        if(featureSelected) {
            let p = UtilFormatTampilan.formatProperties(featureHovered.getProperties())
            document.getElementById("map-prop-sel").innerHTML = p
            browserEvent.map.getTargetElement().style.cursor = 'pointer'
        }
    })
</script>
{% endput %}